nav {

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

p.lead {
	font-family: $headFont;
	margin: 1em 0 2em 0;
	font-size: 18px;
	line-height: 1.3;

	@media #{$medium-up} {
		font-size: 22px;
	}

	@media #{$large-up} {
		font-size: 30px;
	}

	@media #{$xlarge-up} {
		font-size: 40px;
	}
}

p > a {
	@include transition();

	&:hover {
		text-decoration: underline;
		opacity: .8;
	}
}

.row-fluid {
	overflow: hidden;
}

@mixin resFontSize($smallFont, $mediumFont, $largeFont, $xLargeFont) {

	@if ($smallFont) {
    	font-size: $smallFont;
  	}

  	@if ($mediumFont) {
    	
    	@media #{$medium-up} {
    		font-size: $mediumFont;
    	}
  	}

  	@if ($largeFont) {
    	
    	@media #{$large-up} {
    		font-size: $largeFont;
    	}
  	}

  	@if ($xLargeFont) {
    	
    	@media #{$xlarge-up} {
    		font-size: $xLargeFont;
    	}
  	}

}