.DS_Store
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

resources/assets/js/bundle.js
resources/assets/.sass-cache
resources/assets/bower_components
resources/assets/node_modules
public/static/css/style.min.css
public/static/css/style.min.css.map
public/static/js/bundle.min.js

.vagrant/