.button {
	line-height: 25px;
	display: inline-block;
	border: 2px solid $black;
	color: $black;
	padding: 0 10px;
	font-family: $headFont;
	font-weight: 500;
	font-size: 13px;
	text-transform: uppercase;
	background: white;
	margin-bottom: 1em;

	@media #{$medium-up} {
		line-height: 30px;
		font-size: 16px;
		padding: 0 14px;
	}

	@media #{$large-up} {
		line-height: 45px;
		font-size: 22px;
		padding: 0 25px;
	}

	@media #{$xlarge-up} {
		line-height: 55px;
		font-size: 26px;
		padding: 0 30px;
	}

	&:after {
		content: " >"
	}

	&.button-alt {
		color: white;
		background: transparent;
		border-color: white;
	}

	&.button-gradient {
		color: white;
		border: none;
		line-height: 29px;
		padding: 0 12px;
		@include gradientOraRedHor();

		@media #{$medium-up} {
			line-height: 34px;
			padding: 0 16px;
		}

		@media #{$large-up} {
			line-height: 49px;
			padding: 0 27px;
		}

		@media #{$xlarge-up} {
			line-height: 59px;
			padding: 0 32px;
		}
	}

}