@mixin getIcon($icon, $niceColor) {

	@if $icon == "gi" {
		background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2240px%22%20height%3D%2240px%22%20viewBox%3D%220%200%2040%2040%22%20enable-background%3D%22new%200%200%2040%2040%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23" + $niceColor + "%22%20d%3D%22M20%2C0C8.942%2C0%2C0%2C8.942%2C0%2C20s8.942%2C20%2C20%2C20c11.059%2C0%2C20-8.942%2C20-20S31.059%2C0%2C20%2C0z%20M23.52%2C30.827%0D%0A%09c-0.559%2C0.115-0.75-0.23-0.75-0.539V27.25c0-1.038-0.348-1.731-0.75-2.058c2.48-0.289%2C5.076-1.23%2C5.076-5.5%0D%0A%09c0-1.212-0.422-2.212-1.133-2.981c0.115-0.289%2C0.48-1.423-0.117-2.942c0%2C0-0.943-0.308-3.059%2C1.135%0D%0A%09c-0.885-0.25-1.845-0.365-2.787-0.365c-0.942%2C0-1.904%2C0.115-2.789%2C0.365c-2.115-1.442-3.057-1.135-3.057-1.135%0D%0A%09c-0.596%2C1.52-0.211%2C2.654-0.115%2C2.942c-0.692%2C0.769-1.135%2C1.769-1.135%2C2.981c0%2C4.27%2C2.596%2C5.211%2C5.058%2C5.5%0D%0A%09c-0.308%2C0.288-0.597%2C0.77-0.692%2C1.48c-0.635%2C0.289-2.25%2C0.789-3.25-0.923c0%2C0-0.577-1.058-1.693-1.135c0%2C0-1.096-0.019-0.077%2C0.673%0D%0A%09c0%2C0%2C0.731%2C0.346%2C1.231%2C1.615c0%2C0%2C0.654%2C2.174%2C3.75%2C1.5c0%2C0.924%2C0.019%2C1.635%2C0.019%2C1.885c0%2C0.309-0.211%2C0.654-0.769%2C0.539%0D%0A%09c-4.423-1.462-7.596-5.635-7.596-10.558c0-6.135%2C4.981-11.115%2C11.116-11.115c6.154%2C0%2C11.135%2C4.98%2C11.135%2C11.115%0D%0A%09C31.135%2C25.192%2C27.943%2C29.365%2C23.52%2C30.827z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
	}

	@if $icon == "dc" {
		background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2240px%22%20height%3D%2240px%22%20viewBox%3D%220%200%2040%2040%22%20enable-background%3D%22new%200%200%2040%2040%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpolygon%20fill%3D%22%23" + $niceColor + "%22%20points%3D%2223.712%2C11.038%2023.712%2C14.789%2026.635%2C14.789%20%09%22%2F%3E%0D%0A%09%3Cpath%20fill%3D%22%23" + $niceColor + "%22%20d%3D%22M22.134%2C9.539h-9.499v20.923h14.73V16.384h-5.231V9.539z%20M25.539%2C28.827H13.923V27.25h11.616V28.827z%0D%0A%09%09%20M25.539%2C25.73H13.923v-1.577h11.616V25.73z%20M25.539%2C22.635H13.923v-1.596h11.616V22.635z%20M25.539%2C17.942v1.577H13.923v-1.577%0D%0A%09%09H25.539z%22%2F%3E%0D%0A%09%3Cpath%20fill%3D%22%23" + $niceColor + "%22%20d%3D%22M20%2C0C8.942%2C0%2C0%2C8.942%2C0%2C20s8.942%2C20%2C20%2C20s20-8.942%2C20-20S31.058%2C0%2C20%2C0z%20M28.846%2C31.962H11.154V8.038%0D%0A%09%09h12.134l5.558%2C7.192V31.962z%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A");		
	}

	@if $icon == "tw" {
		background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2240px%22%20height%3D%2240px%22%20viewBox%3D%220%200%2040%2040%22%20enable-background%3D%22new%200%200%2040%2040%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23" + $niceColor + "%22%20d%3D%22M20%2C0C8.942%2C0%2C0%2C8.942%2C0%2C20s8.942%2C20%2C20%2C20c11.057%2C0%2C20-8.942%2C20-20S31.057%2C0%2C20%2C0z%20M28.5%2C15.634v0.577%0D%0A%09c0%2C5.789-4.404%2C12.461-12.462%2C12.461c-2.461%2C0-4.769-0.73-6.711-1.961c0.346%2C0.038%2C0.692%2C0.057%2C1.039%2C0.057%0D%0A%09c2.058%2C0%2C3.942-0.691%2C5.442-1.865c-1.904-0.038-3.52-1.307-4.077-3.057c0.269%2C0.057%2C0.539%2C0.076%2C0.808%2C0.076%0D%0A%09c0.404%2C0%2C0.788-0.058%2C1.154-0.154c-2-0.403-3.5-2.172-3.5-4.288v-0.058c0.596%2C0.327%2C1.27%2C0.539%2C1.981%2C0.558%0D%0A%09C11%2C17.192%2C10.23%2C15.846%2C10.23%2C14.327c0-0.808%2C0.211-1.558%2C0.577-2.192c2.174%2C2.635%2C5.404%2C4.385%2C9.039%2C4.558%0D%0A%09c-0.077-0.308-0.115-0.654-0.115-0.981c0-2.423%2C1.96-4.385%2C4.384-4.385c1.25%2C0%2C2.404%2C0.52%2C3.193%2C1.385%0D%0A%09c1-0.192%2C1.941-0.558%2C2.787-1.058c-0.326%2C1.019-1.02%2C1.865-1.922%2C2.404c0.885-0.096%2C1.73-0.327%2C2.5-0.673%0D%0A%09C30.096%2C14.25%2C29.346%2C15.019%2C28.5%2C15.634z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
	}

	@if $icon == "ml" {
		background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2240px%22%20height%3D%2240px%22%20viewBox%3D%220%200%2040%2040%22%20enable-background%3D%22new%200%200%2040%2040%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23" + $niceColor + "%22%20d%3D%22M20%2C0C8.942%2C0%2C0%2C8.942%2C0%2C20s8.942%2C20%2C20%2C20c11.059%2C0%2C20-8.942%2C20-20S31.059%2C0%2C20%2C0z%20M25.809%2C26.192%0D%0A%09c-1.674%2C0-2.867-0.98-3.117-2.135c-1.037%2C1.192-2.076%2C1.923-3.787%2C1.923c-1.943%2C0-3.827-0.98-3.827-3.442%0D%0A%09c0-2.846%2C2.5-3.634%2C6.058-3.634h1.135v-0.52c0-1.558-0.865-2.288-2.692-2.288c-1.885%2C0-2.442%2C0.788-2.962%2C0.788%0D%0A%09c-0.48%2C0-0.808-0.827-0.808-1.25c0-1%2C2.193-1.788%2C4.135-1.788c2.653%2C0%2C4.692%2C1.365%2C4.692%2C3.98v5.135c0.154%2C1%2C0.674%2C1.48%2C1.348%2C1.48%0D%0A%09c1.615%2C0%2C1.865-2.77%2C1.865-4.481c0-5.385-2.404-8.461-7.713-8.461c-6.096%2C0-7.923%2C4.134-7.923%2C8.769%0D%0A%09c0%2C4.328%2C1.635%2C8.231%2C6.981%2C8.231c2.558%2C0%2C3.538-0.808%2C4.173-0.808c0.52%2C0%2C0.826%2C0.596%2C0.826%2C0.941c0%2C1.116-3.268%2C1.828-5.364%2C1.828%0D%0A%09c-4.558%2C0-8.789-3.212-8.789-10.154c0-6%2C3.115-10.769%2C10.115-10.769c6.25%2C0%2C9.827%2C3.692%2C9.827%2C10%0D%0A%09C29.98%2C23.077%2C28.789%2C26.192%2C25.809%2C26.192z%20M17.692%2C22.5c0%2C1.134%2C0.731%2C1.653%2C1.731%2C1.653c1.653%2C0%2C2.942-1.288%2C2.942-2.48v-1.25%0D%0A%09h-0.924C19.154%2C20.423%2C17.692%2C20.884%2C17.692%2C22.5z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
	}
}

@mixin getIcons($color) {

	a {
			
		&.dc {
			@include getIcon("dc", $color);
		}

		&.gi {
			@include getIcon("gi", $color);
		}

		&.tw {
			@include getIcon("tw", $color);
		}

		&.ml {
			@include getIcon("ml", $color);
		}
	}
}

.icons-menu {

	a {
		display: block;
		width: 100%;
		height: 100%;
		text-indent: -9999px;
		background: transparent no-repeat center center;
		background-size: cover;
	}

	li {
		display: inline-block;
	}

	footer & {
		text-align: center;
		margin-top: 20px;

		@media #{$medium-up} {
			text-align: left;
			margin-top: 0;		
		}

		li {
			height: 40px;
			width: 40px;
			margin: 0 4px;

			@media #{$medium-up} {
				height: 50px;
				width: 50px;
			}
		}

		@include getIcons("808184");
	}

	header & {
		
		li {
			height: 40px;
			width: 40px;
		}

		@include getIcons("211f1f");
		
		@media #{$small-only} {

			
		}
	}
}
