// Import Bourbon

@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";

// Colors

$orange: #ff9510;
$greyLight: #f1f1f2;
$greyMedium: #babcbe;
$grey: #a5a7aa;
$greyDark: #808184;

// Routes

$gradients: "../gradients/";
$imgs: "../imgs/";

// Import fonts

@import 'https://fonts.googleapis.com/css?family=Dosis:333, 400,500|Lato:300,400';

$headFont: 'Dosis', sans-serif;
$bodyFont: 'Lato', sans-serif;

// Import Normalize

@import "../bower_components/foundation/scss/normalize";

// Import Foundation

@import "settings";

@import
//  "../bower_components/foundation/scss/foundation/components/accordion",
//  "../bower_components/foundation/scss/foundation/components/alert-boxes",
//	"../bower_components/foundation/scss/foundation/components/block-grid",
//  "../bower_components/foundation/scss/foundation/components/breadcrumbs",
//  "../bower_components/foundation/scss/foundation/components/button-groups",
//  "../bower_components/foundation/scss/foundation/components/buttons",
//  "../bower_components/foundation/scss/foundation/components/clearing",
//  "../bower_components/foundation/scss/foundation/components/dropdown",
//  "../bower_components/foundation/scss/foundation/components/dropdown-buttons",
//	"../bower_components/foundation/scss/foundation/components/flex-video",
//  "../bower_components/foundation/scss/foundation/components/forms",
	"../bower_components/foundation/scss/foundation/components/grid",
//  "../bower_components/foundation/scss/foundation/components/inline-lists",
//  "../bower_components/foundation/scss/foundation/components/joyride",
//  "../bower_components/foundation/scss/foundation/components/keystrokes",
//  "../bower_components/foundation/scss/foundation/components/labels",
//  "../bower_components/foundation/scss/foundation/components/magellan",
//  "../bower_components/foundation/scss/foundation/components/orbit",
//  "../bower_components/foundation/scss/foundation/components/pagination",
//  "../bower_components/foundation/scss/foundation/components/panels",
//  "../bower_components/foundation/scss/foundation/components/pricing-tables",
//  "../bower_components/foundation/scss/foundation/components/progress-bars",
//  "../bower_components/foundation/scss/foundation/components/reveal",
//  "../bower_components/foundation/scss/foundation/components/side-nav",
//  "../bower_components/foundation/scss/foundation/components/split-buttons",
//  "../bower_components/foundation/scss/foundation/components/sub-nav",
//  "../bower_components/foundation/scss/foundation/components/switches",
//  "../bower_components/foundation/scss/foundation/components/tables",
//  "../bower_components/foundation/scss/foundation/components/tabs",
//  "../bower_components/foundation/scss/foundation/components/thumbs",
//  "../bower_components/foundation/scss/foundation/components/tooltips",
//  "../bower_components/foundation/scss/foundation/components/top-bar",
    "../bower_components/foundation/scss/foundation/components/type",
//	"../bower_components/foundation/scss/foundation/components/offcanvas",
	"../bower_components/foundation/scss/foundation/components/visibility";

// App
@import 
	"app/base",

	"app/elements/icons-menu",
	"app/elements/menu-toggle",

	"app/components/footer";
