@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-SemiBold.otf");
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}
html {
  background: url('../img/mantl-bg-gradient.png') no-repeat top center;
  background-size: 1000px 3500px;
  height: 100%;
}
@media (max-width: 768px) {
  html {
    background: url('../img/mantl-bg-gradient.png') #ea2056 no-repeat top center;
    background-size: 1000px 3500px;
  }
}
body {
  background: url('../img/mantl-bg-mesh.png') no-repeat top center;
  background-size: 2604px 3298px;
  min-height: 100%;
  margin: 0;
}
body > .container {
  padding-top: 80px;
}
@media (min-width: 768px) {
  body > .container {
    padding-top: 80px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px !important;
  }
}
.link:hover {
  text-decoration: underline !important;
}
.caps {
  text-transform: uppercase;
}
.navbar {
  background-color: #333333;
  border: none;
  height: 68px !important;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    display: inline-block;
  }
  .navbar .navbar-text {
    display: inline-block;
    float: right;
  }
}
.navbar .navbar-brand {
  color: #ffe000 !important;
  font-family: Dosis;
  font-size: 18pt;
  line-height: 150%;
}
.navbar .navbar-text {
  padding: 15px 0;
  margin: 0;
  line-height: 150%;
  font-size: 18pt;
  font-family: Dosis;
}
.navbar .navbar-text a {
  color: #ffe000 !important;
  font-family: Dosis;
  display: inline-block;
}
.navbar .navbar-text a.link-github {
  background: url('../img/ico-github.png') no-repeat top right;
  background-size: 37px 37px;
  width: 120px;
  height: 37px;
}
@media (max-width: 412px) {
  .navbar .navbar-text a.link-github {
    background: none;
    width: auto;
  }
}
.navbar .navbar-text a.link-docs {
  background: url('../img/ico-docs.png') no-repeat top right;
  background-size: 37px 37px;
  width: 96px;
  height: 37px;
}
@media (max-width: 412px) {
  .navbar .navbar-text a.link-docs {
    background: none;
    width: auto;
  }
}
.navbar .navbar-text .separator {
  display: inline-block;
  width: 30px;
}
h2 {
  font-family: Dosis;
  color: #ff0031;
  text-transform: uppercase;
}
.introduction {
  text-align: center;
  margin-top: 50px;
}
.logo {
  max-width: 100%;
}
.polygons .polygon h3 {
  font-family: Lato;
  color: #ffe000;
  font-size: 28pt;
  margin-bottom: 20px;
}
.polygons .polygon p {
  font-family: Lato;
  color: #ffffff;
  font-size: 13pt;
}
.polygons .polygon.polygon-1 {
  background: url('../img/polygon-1.png') no-repeat;
  background-size: 752px 552px;
  width: 752px;
  height: 552px;
  margin-top: 30px;
  margin-left: 115px;
}
.polygons .polygon.polygon-1 h3 {
  padding-top: 50px;
  padding-left: 80px;
}
.polygons .polygon.polygon-1 p {
  padding-left: 80px;
  width: 650px;
}
.polygons .polygon.polygon-1 p.paragraph-1 {
  width: 70%;
}
.polygons .polygon.polygon-1 p.paragraph-2 {
  width: 64%;
}
.polygons .polygon.polygon-1 p.paragraph-3 {
  width: 44%;
}
.polygons .polygon.polygon-1 img {
  position: absolute;
  left: 455px;
  top: 193px;
}
@media (max-width: 768px) {
  .polygons .polygon.polygon-1 img {
    position: static;
    max-width: 100%;
  }
}
.polygons .polygon.polygon-2 {
  background: url('../img/polygon-2.png') no-repeat;
  background-size: 500px 500px;
  width: 500px;
  height: 500px;
  margin-top: -50px;
  margin-left: 25px;
}
.polygons .polygon.polygon-2 h3 {
  padding-top: 60px;
  padding-left: 120px;
}
.polygons .polygon.polygon-2 p {
  padding-left: 80px;
  width: 462px;
}
.polygons .polygon.polygon-3 {
  background: url('../img/polygon-3.png') no-repeat;
  background-size: 629px 562px;
  width: 629px;
  height: 562px;
  margin-top: -110px;
  margin-left: 290px;
}
.polygons .polygon.polygon-3 h3 {
  padding-top: 80px;
  padding-left: 170px;
}
.polygons .polygon.polygon-3 img {
  padding-left: 33px;
  max-width: 89%;
  margin-top: -10px;
}
@media (max-width: 768px) {
  .polygons .polygon.polygon-3 img {
    max-width: 100%;
  }
}
.polygons .polygon.polygon-4 {
  background: url('../img/polygon-4.png') no-repeat;
  background-size: 476px 476px;
  width: 476px;
  height: 476px;
  margin-top: -30px;
  margin-left: 15px;
}
.polygons .polygon.polygon-4 h3 {
  padding-left: 120px;
  padding-top: 70px;
}
.polygons .polygon.polygon-4 p {
  padding-left: 80px;
  width: 410px;
}
.polygons .polygon.polygon-5 {
  background: url('../img/polygon-5.png') no-repeat;
  background-size: 458px 458px;
  width: 458px;
  height: 458px;
  margin-top: -290px;
  margin-left: 470px;
}
.polygons .polygon.polygon-5 h3 {
  padding-left: 136px;
  padding-top: 45px;
}
.polygons .polygon.polygon-5 p {
  padding-left: 90px;
  width: 415px;
}
.polygons .polygon.polygon-6 {
  background: url('../img/polygon-6.png') no-repeat;
  background-size: 447px 337px;
  width: 447px;
  height: 337px;
  margin-top: -150px;
  margin-left: 60px;
}
.polygons .polygon.polygon-6 h3 {
  padding-left: 66px;
  padding-top: 54px;
}
.polygons .polygon.polygon-6 p {
  padding-left: 66px;
  width: 394px;
}
@media (max-width: 992px) and (min-width: 768px) {
  .polygons .polygon {
    zoom: 80%;
  }
}
@media (max-width: 768px) {
  .polygons .polygon {
    background: rgba(51, 51, 51, 0.9) !important;
    width: auto !important;
    height: auto !important;
    margin-left: auto !important;
    margin-top: 40px !important;
    padding: 20px !important;
  }
  .polygons .polygon h3,
  .polygons .polygon p,
  .polygons .polygon img {
    margin-top: 0 !important;
    padding: 0 !important;
  }
  .polygons .polygon p {
    width: 100% !important;
  }
}
.links {
  text-align: center;
  margin-top: 100px;
}
.links h2 {
  font-family: Dosis;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.links .btn {
  padding: 20px;
  margin-top: 20px;
  width: 178px;
  background-color: #333333;
  border: none !important;
  font-family: Dosis;
  font-size: 28pt;
}
.links .btn:hover {
  text-decoration: underline;
}
.links .btn-github {
  color: #ffe000;
}
.links .btn-docs {
  color: #ff0031;
}
.links .separator {
  display: inline-block;
  width: 30px;
}
@media (max-width: 420px) {
  .links .separator {
    display: none;
  }
}
.footer {
  margin-top: 120px;
  padding: 30px 30px 15px 30px;
  font-family: Lato;
  color: #333333;
}
.footer .separator-hr {
  position: relative;
  top: -25px;
  margin: 0 auto;
  border-top: 1px solid #333333;
}
.footer .copyright {
  position: relative;
  text-align: right;
}
@media (max-width: 992px) {
  .footer .copyright {
    position: static;
    top: 0;
    text-align: left;
  }
}
.footer .copyright a {
  color: #ffe000;
}
.footer .copyright a:hover {
  text-decoration: underline;
}
