@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-SemiBold.otf");
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}
html {
  background: url('../img/bg-gradient.png') no-repeat top center;
  height: 100%;
}
body {
  background: url('../img/bg-mesh.png') no-repeat top center;
  min-height: 100%;
  margin: 0;
}
body > .container {
  padding-top: 80px;
}
@media (min-width: 768px) {
  body > .container {
    padding-top: 80px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px !important;
  }
}
.link:hover {
  text-decoration: underline !important;
}
.navbar {
  background-color: #333333;
  border: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    display: inline-block;
  }
  .navbar .navbar-text {
    display: inline-block;
    float: right;
  }
}
.navbar .navbar-brand {
  color: #ff0031 !important;
  font-family: Dosis;
  font-size: 18pt;
}
.navbar .navbar-text {
  padding: 15px 0;
  margin: 0;
  line-height: 20px;
  font-size: 18pt;
  font-family: Dosis;
}
.navbar .navbar-text a {
  color: #ffe000 !important;
  font-family: Dosis;
}
.navbar .navbar-text .separator {
  display: inline-block;
  width: 30px;
}
h2 {
  font-family: Dosis;
  color: #ffffff;
  text-transform: uppercase;
}
.introduction {
  text-align: center;
  margin-top: 25px;
}
.polygons .polygon h3 {
  font-family: Lato;
  color: #ffe000;
  font-size: 28pt;
  margin-bottom: 20px;
}
.polygons .polygon p {
  font-family: Lato;
  color: #ffffff;
  font-size: 13pt;
}
.polygons .polygon.polygon-1 {
  background: url('../img/polygon-1.png') no-repeat;
  width: 728px;
  height: 437px;
  margin-top: 630px;
  margin-left: 115px;
}
.polygons .polygon.polygon-1 h3 {
  padding-top: 60px;
  padding-left: 80px;
}
.polygons .polygon.polygon-1 p {
  padding-left: 80px;
  width: 650px;
}
@media (max-width: 768px) {
  .polygons .polygon.polygon-1 {
    margin-top: 630px !important;
  }
}
.polygons .polygon.polygon-2 {
  background: url('../img/polygon-2.png') no-repeat;
  width: 480px;
  height: 481px;
  margin-top: -50px;
  margin-left: 70px;
}
.polygons .polygon.polygon-2 h3 {
  padding-top: 60px;
  padding-left: 120px;
}
.polygons .polygon.polygon-2 p {
  padding-left: 80px;
  width: 400px;
}
.polygons .polygon.polygon-3 {
  background: url('../img/polygon-3.png') no-repeat;
  width: 595px;
  height: 520px;
  margin-top: -110px;
  margin-left: 320px;
}
.polygons .polygon.polygon-3 h3 {
  padding-top: 90px;
  padding-left: 130px;
}
.polygons .polygon.polygon-3 img {
  padding-left: 80px;
  max-width: 100%;
}
.polygons .polygon.polygon-4 {
  background: url('../img/polygon-4.png') no-repeat;
  width: 575px;
  height: 434px;
  margin-top: -50px;
  margin-left: 100px;
}
.polygons .polygon.polygon-4 h3 {
  padding-left: 180px;
  padding-top: 80px;
}
.polygons .polygon.polygon-4 p {
  padding-left: 105px;
  width: 485px;
}
.polygons .polygon.polygon-5 {
  background: url('../img/polygon-5.png') no-repeat;
  width: 498px;
  height: 414px;
  margin-top: -50px;
  margin-left: 370px;
}
.polygons .polygon.polygon-5 h3 {
  padding-left: 80px;
  padding-top: 45px;
}
.polygons .polygon.polygon-5 p {
  padding-left: 80px;
  width: 425px;
}
@media (max-width: 768px) {
  .polygons .polygon {
    background: rgba(51, 51, 51, 0.9) !important;
    width: auto !important;
    height: auto !important;
    margin-left: auto !important;
    margin-top: 40px !important;
    padding: 20px !important;
  }
  .polygons .polygon h3,
  .polygons .polygon p,
  .polygons .polygon img {
    padding: 0 !important;
  }
  .polygons .polygon p {
    width: 100% !important;
  }
}
.links {
  text-align: center;
  margin-top: 100px;
}
.links h2 {
  font-family: Dosis;
  color: #ff0031;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.links .btn {
  padding: 20px;
  margin-top: 20px;
  width: 178px;
  background-color: #333333;
  border: none !important;
  font-family: Dosis;
  font-size: 28pt;
}
.links .btn:hover {
  text-decoration: underline;
}
.links .btn-github {
  color: #ffe000;
}
.links .btn-docs {
  color: #ff0031;
}
.links .separator {
  display: inline-block;
  width: 30px;
}
@media (max-width: 420px) {
  .links .separator {
    display: none;
  }
}
.footer {
  margin-top: 120px;
  padding: 30px 30px 15px 30px;
  font-family: Lato;
  color: #333333;
}
.footer .separator-hr {
  position: relative;
  top: -25px;
  margin: 0 auto;
  border-top: 1px solid #333333;
}
.footer .subtitle {
  display: inline-block;
  position: relative;
  top: -3px;
  text-transform: uppercase;
  padding-left: 20px;
}
@media (max-width: 768px) {
  .footer .subtitle {
    display: block;
    position: static;
    top: 0;
    padding-left: 0;
    padding-bottom: 20px;
  }
}
.footer .copyright {
  position: relative;
  top: -6px;
  text-align: right;
}
@media (max-width: 768px) {
  .footer .copyright {
    position: static;
    top: 0;
    text-align: left;
  }
}
.footer .copyright a {
  color: #ff0031;
}
.footer .copyright a:hover {
  text-decoration: underline;
}
