.hero {
	text-align: center;
	height: 100vh;
	padding-top: 50px;
	background: transparent url($gradients + 'hero.svg') no-repeat center center;
	background-size: cover;

	.hero__content {
		position: relative;
	  	top: 50%;
	  	transform: translateY(-50%);
	  	margin-top: -25px;
	}

	h1 {
		line-height: 1.02;
		color: white;
		text-transform: uppercase;
		margin: .4em 0 .8em 0;
		@include resFontSize(35px, 40px, 60px, 100px);

		span {
			display: block;

			&.code {

			}

			&.deploy {

			}

			&.relax {
				
				&:before {
					content: "- ";
				}
			}
		}

		@media #{$medium-up} {
			
			span {
				display: inline-block;

				&.code {

					&:after {
						content: " _ ";
					}
				}

				&.deploy {

					&:after {
						content: " - ";
					}
				}

				&.relax {
					
					&:before {
						content: "";
					}
				}
			}
		}
	}

	img {
		height: 50px;

		@media #{$medium-up} {
			height: 65px;	
		}

		@media #{$large-up} {
			height: 100px;	
		}

		@media #{$xlarge-up} {
			height: 150px;
		}
	}

	p {
		font-family: $headFont;
		line-height: 1.2;
		margin: 0 0 2em 0;
		@include resFontSize(18px, 22px, 28px, 40px);
	}

	.button {
		margin: 0;
	}
}