.technologies {
	background: $greyLight;
	text-align: center;
	padding-bottom: 35px;

	@media #{$medium-up} {
		padding-bottom: 50px;
	}

	@media #{$large-up} {
		padding-bottom: 70px;
	}

	ul {
		padding-top: 20px;

		@media #{$medium-up} {
			padding-top: 50px;
		}

		@media #{$large-up} {
			padding-top: 70px;
		}

		li {
			width: percentage(1/3);
			display: block;
			float: left;

			@media #{$medium-up} {
				width: 18%;
				display: inline-block;
				float: none;
			}

			@media #{$xlarge-up} {
				width: percentage(1/9);
				display: block;
				float: left;
			}
		}
	}

	h3 {
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 2.4em;

		@media #{$medium-up} {
			font-size: 18px;
		}

		@media #{$large-up} {
			font-size: 22px;
		}

		@media #{$xlarge-up} {
			font-size: 20px;
		}
	}

	img {
		width: 80px;

		@media #{$medium-up} {
			width: 100px;			
		}

		@media #{$large-up} {
			width: 150px;			
		}

		@media #{$xlarge-up} {
			width: auto;
		}
	}
}