.technologies {
	background: $greyLight;
	text-align: center;
	padding-bottom: 35px;

	@media #{$medium-up} {
		padding-bottom: 50px;
	}

	@media #{$large-up} {
		padding-bottom: 70px;
	}

	ul {
		padding: 20px 0 0 0;
		margin: 0;
		overflow: hidden;

		@media #{$medium-up} {
			padding-top: 50px;
		}

		@media #{$large-up} {
			padding-top: 70px;
		}

		li {
			width: percentage(1/3);
			display: block;
			float: left;

			a {
				display: block;
				text-decoration: none;
			}

			@media #{$medium-up} {
				width: 18%;
				display: inline-block;
				float: none;
			}

			@media #{$xlarge-up} {
				width: percentage(1/10);
				display: block;
				float: left;
			}

			&:last-child {
				// Hack to align last logo center on small devices. 
				// Remove when you have 2, 5, 8, 11 logos. 
				float: none;
				display: inline-block;
			}
		}
	}

	h3 {
		text-transform: uppercase;
		margin-bottom: 2.4em;
		@include resFontSize(12px, 18px, 22px, 20px);
	}

	img {
		width: 80px;

		@media #{$medium-up} {
			width: 100px;			
		}

		@media #{$large-up} {
			width: 150px;			
		}

		@media #{$xlarge-up} {
			width: auto;
		}
	}

	.technologies-page & {
		background: white;

		&.add-ons {
			background: $greyLight;
		}

		.technologies__item {

			img {
				width: 96px;
				margin-top: 1em;

				@media #{$medium-up} {
					width: 120px;			
				}

				@media #{$large-up} {
					width: 160px;			
				}

				@media #{$xlarge-up} {
					width: auto;
				}
			}

			h2 {
				text-transform: uppercase;
				@include resFontSize(24px, 28px, 35px, 45px);
			}

			h3 {
				@include resFontSize(14px, 15px, 22px, 26px);
				margin-bottom: .5rem;
			}

			p {
				@include resFontSize(15px, 16px, 20px, 22px);
				font-weight: 300;
				line-height: 1.6;
			}
		}	
	}
}