.use-cases {
	@include gradientOraRedVer();
	padding: 0 0 60px 0;

	@media #{$medium-up} {
		padding: 0 0 90px 0;
	}

	@media #{$large-up} {
		padding: 0 0 110px 0;
	}

	@media #{$medium-up} {
		padding: 0 0 130px 0;
	}

	.use-cases__lead {
		margin: 1em 0 2em 0;

		@media #{$medium-up} {
			text-align: center;
		}

		@media #{$small-only} {

			br {
				display: none;
			}
		}
	}

	.use-cases__item {
		margin-bottom: 50px;

		@media #{$medium-up} {
			text-align: center;
			margin-bottom: 100px;
		}

		@media #{$large-up} {
			text-align: left;
			margin-bottom: 60px;
		}

		@media #{$xlarge-up} {
			margin-bottom: 100px;
		}

		img {
			margin-bottom: 20px;
			height: 60px;

			@media #{$medium-up} {
				height: 75px;
			}

			@media #{$xlarge-up} {
				height: 100px;
			}
		}

		h3 {
			font-weight: 500;
			@include resFontSize(24px, 28px, 35px, 45px);
			color: white;
			text-transform: uppercase;

			@media #{$medium-up} {
				color: $black;
			}
		}

		p {
			@include resFontSize(15px, 16px, 20px, 22px);
			font-weight: 300;
			line-height: 1.6;
			color: white;
		}
	}

	blockquote {
		margin: 0;
		padding: 0;
		border: none;
		color: $black;
		font-family: $headFont;
		@include resFontSize(inherit, 22px, 30px, 35px);

		@media #{$medium-up} {
			text-align: center;
		}

		p {
			@include resFontSize(inherit, 15px, 20px, 23px);
			margin: 20px 0 0 0;
			color: white;
		}

		span {
			@include resFontSize(inherit, 19px, 25px, 29px);
			display: block;
			
			&:before {
				content: "– ";
			}
		}
	}
}