.cta {
	@include whiteDottedBg();
	text-align: center;
	padding: 30px 0 20px 0;

	@media #{$medium-up} {
		padding: 60px 0 50px 0;
	}

	@media #{$large-up} {
		padding: 90px 0 80px 0;	
	}

	@media #{$xlarge-up} {
		padding: 130px 0 100px 0;	
	}

	&.alt {
		@include orangeDottedBg();
	}
	
	h2 {
		@include resFontSize(22px, 35px, 50px, 70px);
		text-transform: uppercase;
		margin-bottom: 1em;
	}
}

