.menu {
	width: 100vw;
	height: 100vh;
	padding: 60px 20px 30px 20px;
	background: url( $gradients + 'menu.svg') no-repeat center center;
	background-size: cover;
	font-family: $headFont;
	position: fixed;
	top: 0;
	left: 0;
	text-transform: uppercase;
	z-index: 10;
	display: none;

	.main {
		font-size: 35px;
	}

	.side {
		font-size: 22px;
		margin-top: 50px;
	}

	a {
		color: $black;
		text-decoration: none;
	}
}

header {
	height: 50px;
	position: absolute;
    width: 100%;
    z-index: 1;
    
    .fixed-header & {
    	position: fixed;
    	background: $greyLight;
    }

    .release-header & {
    	background: transparent;
    }


	.logo {
		position: absolute;
		right: 0;
		top: 0;

		background: transparent url($imgs + 'logos/mantl-small.svg') no-repeat center center;

		display: block;
		
		width: 50px;
		height: 50px;

		text-indent: -9999px;
	}
}